<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/fdba0621-d050-42d8-9030-b897e238f0ac/resourceGroups/cuidador/providers/Microsoft.ApiManagement/service/Cuidadorapi/apis/Cuidador</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/fdba0621-d050-42d8-9030-b897e238f0ac/resourceGroups/cuidador/providers/Microsoft.Web/sites/cuidadorapi</ResourceId>
    <ResourceGroup>cuidador</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cuidadorapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b0bdf48a-45d9-42a3-8f98-78ff4409dbfa</ProjectGuid>
    <PublishUrl>https://cuidadorapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cuidadorapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>